/*
Project Name: P2 Reservia
Description: Reservia design HTML/CSS integration
Version: 1.0
Author: Blas Pierre-Gérard
Email: pierreg.blas@gmail.com
Git repository: https://gitlab.com/pgb_oc/reservia
GitLab Pages: https://pgb_oc.gitlab.io/reservia
Methodology: BEM + variables
Tags: html5, css3, js, integration, responsive, reservia, openclassrooms
Copyright 2021 - All rights reserved
Creation date: 30/04/2021
Last modification: 04/06/2021
 
  ---------------------------
  MAIN STYLES
  ---------------------------
  
  TABLE OF CONTENTS
  ---------------------------
   01. Global styles
   02. Header - Navigation Menu
   03. Location search
   04. Filters box
   05. Hosting section
   06. Sidebar - Activities section
   07. Footer section
   08. Responsive - Laptops
   09. Responsive - Tablets
   10. Responsive - Smartphones
*/

/* ===================================================================================================== */
/* 01. Global styles                                                                                     */
/* ===================================================================================================== */

@font-face {
    font-family: 'Raleway-Regular';
    src: url('/fonts/Raleway-Regular.ttf');
    src: local('Raleway-Regular'), url('/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('/fonts/Raleway-Medium.ttf');
    src: local('Raleway-Medium'), url('/fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('/fonts/Raleway-SemiBold.ttf');
    src: local('Raleway-SemiBold'), url('/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('/fonts/Raleway-Bold.ttf');
    src: local('Raleway-Bold'), url('/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-color: #000;
    --link-font-color: #0065fc;
    --alert-font-color: #0065fc;
    --white-font-color: #fff;
    --grey-font: #d9d9d9;
    --blue-bg: #0065fc;
    --blue-light-bg: #deebff;
    --white-bg: #fff;
    --black-bg: #000;
    --grey-bg: #f2f2f2;
    --grey-border: #d9d9d9;
    --grey-shadow: rgba(227, 227, 227, 0.6);
    --grey-shadow--hover: rgba(227, 227, 227, 0.8);
    --black-shadow: rgba(0, 0, 0, 0.08);
    --font-regular: "Raleway-Regular";
    --font-medium: "Raleway-Medium";
    --font-semi-bold: "Raleway-SemiBold";
    --font-bold: "Raleway-Bold";
    --word-spacing: "0.5px";
    --letter-spacing: "1px";
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*border: 1px solid red;*/
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--font-bold);
    font-size: 1.250em;
    color: var(--font-color);
    margin: -10px 0 10px 0;
}

h2 {
    font-family: var(--font-bold);
    font-size: 1.000em;
    color: var(--font-color);
}

a, a:hover, a:active, a:visited, a:link {
    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -ms-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    color: var(--font-color);
}

p {
    font-family: var(--font-regular);
    font-size: 0.938em;
    color: var(--font-color);
    margin: 0px 0px;
}

body {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.page-container {
    width: 100%;
    /*border: 1px solid red;*/
}

.widgets-container {
    display: flex;
    order: 2;
    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 50px;
}

.widgets-container p {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    flex-basis: 70%;
}

.logo img {
    display: flex;
    margin: 48px;
    height: 40px;
    width: 110px;
    align-content: center;
    margin-left: 40px;
}

/* ===================================================================================================== */
/* 02. Header - Navigation Menu                                                                          */
/* ===================================================================================================== */

nav {
    display: flex;
    flex-grow: 1;
}

nav ul.menu {
    display: flex!important;
    position: relative!important;
    flex-basis: 30%!important;
    list-style: none;
    flex-direction: row;
}

nav ul.menu li a {
    display: inline-block!important;
    padding: 0px 65px 0px 0px!important;
    font-family: var(--font-medium);
    font-size: 1.000em;
    color: var(--font-color)!important;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0.5px;
}

ul.menu li.nav-border {
    position: relative;
    width: auto;
    float: none;
    margin: 0 auto;
    text-align: center;
}

ul.menu li.nav-border:after {
    position: absolute;
    content: '';
    bottom: 75px!important;
    height: 3px;
    width: 100%;
    background: var(--blue-bg);
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

ul.menu li.nav-border:hover:after {
    bottom: -3px;
    opacity: 1;
    width: 100%!important;
}

ul.menu li.nav-border:after {
    position: absolute;
    content: '';
    left: -18%;
    bottom: -11px;
    height: 3px;
    width: 100%;
    padding-right: 0px!important;
    padding-left: 0px!important;
    background: var(--blue-bg);
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

ul.menu li.nav-border:nth-child(2):after, ul.menu li.nav-border:nth-child(3):after {
    left: -24.2%!important;
}

ul.menu li.nav-border:hover:after {
    bottom: -3px;
    opacity: 1;
    width: 100%!important;
}

ul.menu li:nth-last-child(1) a {
    font-family: var(--font-semi-bold);
    color: var(--link-font-color)!important;
    padding-right: 0;
}

ul.menu li:nth-last-child(1) a:hover {
    font-family: var(--font-semi-bold);
    color: var(--font-color)!important;
}

ul.menu li a:hover, ul.menu li a:active, ul.menu li a:visited {
    color: var(--link-font-color)!important;
}

nav ul.menu li a.nav-link {
    /*Hack for chrome*/
    color: var(--font-color)!important;
}

ul.menu li a.nav-link:hover, ul.menu li a.nav-link:active {
    /*Hack for chrome*/
    color: var(--link-font-color)!important;
}

/* ===================================================================================================== */
/* 03. Location search                                                                                   */
/* ===================================================================================================== */

.search-container {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0px;
}

input {
    border: 1px solid var(--grey-bg);
    font-family: var(--font-bold);
    font-size: 1.000em;
    height: 49px;
    padding: 0px 8px;
    position: absolute;
    width: 420px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--font-color);
}

.search-text-large {
    color: var(--white-font-color);
    padding-top: 15px;
    padding-left: 20px;
}

.search-text-large:hover {
    color: var(--grey-font);
}

button {
    text-align: center;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button.btn-search {
    border: none;
    height: 50px;
    font-family: var(--font-bold);
    font-size: 1.000em;
    padding: 0px;
    position: absolute;
    width: 30px;
}

.search-location {
    float: left;
    position: relative;
    width: 50%;
}

.search-location.home-search input {
    left: 0;
    transition: all .3s ease-in-out;
    min-width: 250px;
    max-width: 250px;
    width: 30%;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-location.home-search input:focus {
    width: 46.9%;
    border: 1px solid var(--blue-bg);
    border-radius: 15px;
}

.input-group {
    margin-bottom: 1em;
    transform-origin: 0 0;
}

.input-group:before, .input-group:after {
    content: "";
    display: table;
}

.input-group:after {
    clear: both;
}

.input-group-icon {
    position: relative;
}

.input-group-icon input {
    padding-left: 4.4em;
}

.input-group-icon .input-icon {
    z-index: 0;
    position: absolute;
    top: 1px;
    left: 1px;
    min-width: 50px;
    min-height: 49px;
    text-align: center;
    pointer-events: none;
    background-color: var(--grey-bg);
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

i.fa.fa-map-marker-alt {
    vertical-align: top!important;
    padding-top: 15px!important;
}

.small-screen-search-icon {
    visibility: hidden;
}

.search-location.home-search input:focus~button.btn-search {
    background: var(--blue-bg);
    color: var(--grey-bg);
}

.search-location.home-search button {
    position: absolute;
    left: 40%;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: all .3s ease-in-out;
}

.search-location.home-search button.btn-search {
    background: var(--blue-bg);
    color: var(--white-font-color);
    height: 49px;
    right: 0px;
    top: 1px;
    transition: all .3s ease-in-out;
    width: 135px;
}

.search-location.home-search button.btn-search:hover {
    color: var(--grey-bg);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: var(--white-font-color)!important;
}

/*Button animation*/

.echo-animation {
    z-index: -1;
    top: 50%;
    left: 50%;
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
}

.echo-animation:before {
    position: relative;
    content: '';
    display: block;
    margin-top: 100%;
}

.echo-animation:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.hover-animation:hover>.echo-animation {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}

.hover-animation:hover>.echo-animation:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

@-webkit-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@-moz-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

/* ===================================================================================================== */
/* 04. Filters box                                                                                       */
/* ===================================================================================================== */

.filters-container {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 45px;
}

.filter-box {
    width: auto;
    height: 50px;
    margin-right: 25px;
    padding: 0px 0px;
    border: 2px solid var(--grey-border);
    border-radius: 50px;
    background-color: transparent;
    box-shadow: 0 3px 20px -4px var(--black-shadow);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    line-height: 50px;
    color: var(--font-color);
}

.filter-box:hover {
    border-color: var(--blue-bg);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transition: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transform: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: 0.2s ease-out;
}

h2.filter-tag {
    text-transform: capitalize;
    margin-top: 0px!important;
    margin-left: 65px!important;
    margin-right: 20px!important;
    letter-spacing: 0.5px!important;
}

h2.filter-tag a {
    text-decoration: none;
}

h2.filter-tag:nth-last-child(1) {
    text-transform: initial;
}

h2.filter-tag:hover,
h2.filter-tag a:hover {
    color: var(--link-font-color);
}

.filter-box:hover {
    border: 2px solid var(--blue-bg);
}

p.filter-title {
    display: flex;
    flex-basis: 5%;
    margin-left: 50px;
    font-family: var(--font-bold);
    font-size: 1.000em;
    color: var(--font-color);
    letter-spacing: 0.5px!important;
    padding-right: 10px;
}

.icon-filter-circle-container {
    position: relative;
    float: left;
    cursor: pointer;
    height: 50px;
    width: 50px;
    top: -1px;
    margin-left: -1px;
    background-color: var(--blue-light-bg);
    border: 1px solid var(--grey-border);
    border-radius: 90%;
    -webkit-border-radius: 90%;
}

.icon-filter-circle-container:hover {
    background-color: var(--blue-bg);
    border: 1px solid var(--blue-bg);
    border-radius: 90%;
    -webkit-border-radius: 90%;
}

.filter-box:hover>.icon-filter-circle-container {
    display: block!important;
    background-color: var(--blue-bg);
    border: 1px solid var(--blue-bg);
}

.filter-box:hover i.fas {
    display: inline-block!important;
    color: var(--white-bg)!important;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transition: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transform: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: 0.2s ease-out;
}

.filter-box i.fas {
    display: inline-block;
    color: var(--blue-bg)!important;
}

i.fas.fa-money-bill-wave:hover {
    color: var(--white-bg)!important;
}

.search-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15px!important;
    margin-top: 5px;
    font-family: var(--font-medium);
}

p.sub-title {
    font-family: var(--font-medium);
}

.info-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.icon-circle-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-left: 50px;
    background-color: transparent;
    border: 1px solid var(--grey-bg);
    border-radius: 90%;
    -webkit-border-radius: 90%;
}

.icon-circle-container:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transition: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transform: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: 0.2s ease-out;
}

i.fa.fa-info {
    color: var(--blue-bg)!important;
    margin-top: 5px;
    margin-left: 9.485px;
}

/* ===================================================================================================== */
/* 05. Hosting section                                                                                   */
/* ===================================================================================================== */

#hosting {
    display: flex;
    flex-basis: 100%;
}

h2.card-title {
    position: absolute;
    font-family: var(--font-bold);
    font-size: 1.250em;
    color: var(--font-color);
    margin: 50px 50px 40px 100px!important;
}

h2.card-title-hosting {
    margin: 50px 50px 40px 50px!important;
}

.hosting-container {
    display: flex;
    /*height: 625px;*/
    height: auto;
    /*width: 880px;*/
    width: auto;
    flex-basis: 70%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 40px 40px 50px;
    background-color: var(--grey-bg);
    border-radius: 15px;
}

.popular-hosting-container {
    display: flex;
    flex-basis: 30%;
    /*height: 625px;*/
    height: auto;
    /*width: 420px;*/
    width: auto;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 10px 50px 40px 0px;
    background-color: var(--grey-bg);
    border-radius: 15px;
}

.icon-sidebar-container {
    position: absolute;
    cursor: pointer;
    height: 16px;
    width: 21.334px;
    margin: 53px 50px 40px 360px!important;
}

.icon-sidebar-container i:hover {
    display: inline-block;
    color: var(--blue-bg)!important;
}

.hosting-card {
    display: flex;
    flex-basis: 23.33%;
    height: 200px;
    width: 250px;
    max-width: 257px;
    box-sizing: border-box;
    background-color: var(--white-bg);
    margin: -135px 30px 40px 30px;
    box-shadow: 5px 5px 5px 5px var(--grey-shadow);
    border-radius: 15px;
    cursor: pointer;
}

.hosting-card:hover {
    box-shadow: 6px 6px 6px 6px var(--grey-shadow--hover);
}

.hosting-card:nth-child(1), .hosting-card:nth-child(2), .hosting-card:nth-child(3) {
    margin-top: 30px!important;
}

.hosting-card-sidebar {
    flex-basis: 100%!important;
    height: 145px!important;
    max-height: 145px!important;
    min-width: 345px;
    margin: 0px 30px 30px 30px!important;
}

.hosting-card-sidebar:nth-child(1) {
    margin-top: 92.5px!important;
}

.hosting-card-sidebar:nth-child(2) {
    margin-top: 100px!important;
    margin: 0px 30px 0px 30px!important;
    height: 145px!important;
}

.hosting-card-sidebar:nth-child(1), .hosting-card-sidebar:nth-child(2), .hosting-card-sidebar:nth-child(3) {
    height: 145px!important;
}

.hosting-img_image {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
    margin: 0px 0px 80px 0px!important;
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
}

.hosting-img_image:hover:before {
    visibility: visible;
    opacity: 1;
}

.hosting-card-img {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    height: 115px;
    margin: 0px 0px 80px 0px!important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px!important;
    overflow: hidden;
    text-decoration: none;
}

.sidebar-card-img {
    width: 125px!important;
    height: 145px!important;
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px!important;
}

.hosting-card-img:hover .hosting-img_image, .sidebar-card-img:hover .sidebar-img_image {
    transform: scale(1.2);
}

.hosting-card-img:hover .hosting-img_hover, .sidebar-card-img:hover .sidebar-img_hover {
    visibility: visible;
    opacity: 1;
}

.hosting-card-img:hover .hosting-img_name, .sidebar-card-img:hover .sidebar-img_name {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.hosting-img_image {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 247px;
    min-height: 115px;
    max-height: 150px;
    box-sizing: border-box;
    transform: scale(1);
    will-change: transform;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
    overflow: hidden;
}

.sidebar-img_image img {
    width: 125px!important;
    height: 135px!important;
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 0px!important;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 0px!important;
}

.hosting-zoom-adjustment {
    margin-top: -35px!important;
}

.hosting-img_hover, .sidebar-img_hover {
    visibility: hidden;
    display: block;
    position: absolute;
    width: 260px;
    height: 115px;
    background: radial-gradient(rgba(47, 48, 50, 0.2), rgba(47, 48, 50, 0.5));
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
    transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    overflow: hidden;
}

.sidebar-img_hover {
    width: 125px!important;
    height: 145px!important;
}

.hosting-img_name p, .sidebar-img_name p {
    color: var(--font-color);
    font-family: var(--font-semi-bold);
    letter-spacing: 1px;
    font-size: 1.000em;
    background: rgba(255, 255, 255, 0.6);
    padding: 7px;
    margin-top: 50%;
    margin-left: -3%;
}

.sidebar-img_name p {
    margin-top: 37%!important;
    margin-left: -55.5%!important;
    padding: 3px!important;
}

.hosting-img_name p:hover {
    color: var(--link-font-color);
    background: rgba(255, 255, 255, 0.8);
}

.hosting-img_name {
    visibility: hidden;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 115px;
    margin: 0px 0px 80px 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-width: 250px;
    max-width: 345px;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    transform: scale(0.6);
    transform-origin: center center;
    transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease;
    opacity: 0;
}

.hosting-card-content, .hosting-card-content-sidebar {
    position: absolute;
    display: block;
    margin-top: 105px;
    max-width: 230px;
}

.hosting-card-content-sidebar {
    margin-top: 0px!important;
    margin-left: 130px!important;
    max-width: 160px!important;
}

.card-content_title {
    margin-left: 15px;
    margin-top: 20px;
    color: var(--font-color);
    font-family: var(--font-bold);
    letter-spacing: 0.5px!important;
    font-size: 0.875em;
    letter-spacing: var(--letter-spacing);
}

.card-content_title a {
    text-decoration: none;
}

.card-content_title a:hover {
    color: var(--link-font-color);
}

.card-content_desc {
    padding: 10px 15px 0px 15px;
    margin-top: -15px;
    font-size: 0.750em;
    color: var(--font-color);
    font-family: var(--font-semi-bold);
    letter-spacing: var(--letter-spacing);
}

p.card-content_desc a {
    text-decoration: none;
}

span.card-content_price {
    position: absolute;
    display: inline;
    padding: 10px 5px 15px 15px;
    width: 70%!important;
    font-size: 0.750em;
    color: var(--font-color);
    font-family: var(--font-bold);
    letter-spacing: var(--letter-spacing);
    margin-left: 90px;
    margin-top: -24px!important;
}

span.card-content_price a {
    text-decoration: none;
}

.view-more-container {
    position: absolute;
    display: inline-block;
    margin-top: 510px;
    margin-left: -885px;
}

.view-more-container a {
    text-decoration: none;
}

.view-more-container a:hover {
    color: var(--link-font-color);
}

.hosting-card-view-more {
    font-family: var(--font-bold);
    font-size: 1.125em;
    color: var(--font-color);
    cursor: pointer;
}

.hosting-card-view-more:hover {
    color: var(--link-font-color);
}

/* Rating stars */

.hosting-card-rating, .hosting-card-rating-sidebar {
    z-index: 1!important;
    position: absolute;
    display: block;
    margin-top: 160px;
    margin-left: 16px;
}

.hosting-card-rating-sidebar {
    margin-top: 100px!important;
    margin-left: 145px!important;
}

.hosting-card-rating-stars ul {
    display: inline-block!important;
    z-index: 1!important;
    list-style-type: none;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}

.hosting-card-rating-stars ul>li.card-rating_star {
    z-index: 1!important;
    display: inline-block;
}

/* Stars states */

.hosting-card-rating-stars ul>li.card-rating_star>i.fa {
    z-index: 1!important;
    font-size: 0.750em;
    color: var(--grey-border);
    margin-left: -2.9px;
}

.hosting-card-rating-stars ul>li.card-rating_star.hover>i.fa {
    z-index: 1!important;
    color: var(--link-font-color);
}

.hosting-card-rating-stars ul>li.card-rating_star.selected>i.fa {
    z-index: 1!important;
    color: var(--link-font-color);
}

.rating-box {
    z-index: 0;
    position: absolute;
    vertical-align: middle;
    font-size: 0.899em;
    font-family: FontAwesome;
    display: inline-block;
    color: var(--grey-border);
    opacity: 1;
    margin-top: -32.5px!important;
    margin-left: -1px!important;
    letter-spacing: 2.5px!important;
}

.rating-box:before {
    z-index: -1;
    content: "\f005 \f005 \f005 \f005 \f005";
}

.rating-box .rating {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    color: var(--link-font-color);
}

.rating-box .rating:before {
    z-index: -1;
    content: "\f005 \f005 \f005 \f005 \f005";
}

.rating-box:hover, .rating-box:active, .rating:hover, .rating:active {
    z-index: -1!important;
    visibility: hidden!important;
    display: block;
}

/*.hosting-card-rating-stars ul#card-rating_stars_01::before {
    position: relative;
    content: "\f006 \f006 \f006 \f006 \f006";
    color: var(--link-font-color);
    background-repeat: no-repeat;
    zoom: 1.2;
}*/

/* Alerts messages */

.hosting-card-rating-alert {
    position: absolute;
    margin-top: 195px;
    padding: 10px 15px;
    font-family: var(--font-bold);
    font-size: 0.688em;
    color: var(--alert-font-color);
}

/* ===================================================================================================== */
/* 06. Activities section                                                                                */
/* ===================================================================================================== */

#activities {
    display: flex;
    flex-basis: 100%;
}

.activities-container {
    display: flex;
    flex-basis: 100%;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0px;
    /*background-color: var(--grey-bg);*/
    border-radius: 15px;
}

.activities-wrap-container {
    display: flex;
    flex-basis: 23.33%;
    flex-wrap: wrap;
}

h2.card-title--activities {
    margin: 20px 50px 40px 50px!important;
}

.activities-card-01, .activities-card-04, .activities-card-02, .activities-card-03 {
    display: flex;
    flex-basis: 23.33%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 445px;
    max-width: 310px!important;
    box-sizing: border-box;
    background-color: var(--white-bg);
    margin: auto;
    box-shadow: 5px 5px 5px 5px var(--grey-shadow);
    border-radius: 15px;
    cursor: pointer;
}

.activities-card-01 {
    margin-left: 50px!important;
}

.activities-card-01:hover, .activities-card-04:hover {
    box-shadow: 6px 6px 6px 6px var(--grey-shadow--hover);
}

.activities-card-02 {
    max-height: 235px!important;
    margin: 23px!important;
}

.activities-card-03 {
    max-height: 165px!important;
    margin: 22px!important;
}

.activities-card-05 {
    max-height: 195px!important;
    margin: 20px!important;
    margin-left: 25px!important;
}

.activities-card-06 {
    max-height: 210px!important;
    margin: 20px!important;
    margin-left: 25px!important;
}

.activities-card-img {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    width: 310px!important;
    margin: 0px 0px 80px 0px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
    overflow: hidden;
    text-decoration: none;
}

.activities-card-img-01, .activities-card-img-04 {
    min-height: 390px!important;
}

.activities-card-img-02 {
    min-height: 180px!important;
}

.activities-card-img-03 {
    min-height: 110px!important;
}

.activities-card-img-05 {
    min-height: 140px!important;
}

.activities-card-img-06 {
    min-height: 155px!important;
}

.activities-card-img:hover .activities-img_image {
    transform: scale(1.2);
}

.activities-card-img:hover .activities-img_hover {
    visibility: visible;
    opacity: 1;
}

.activities-card-img:hover .activities-img_name {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.activities-img_image {
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
    box-sizing: border-box;
    transform: scale(1);
    will-change: transform;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
    overflow: hidden;
}

.activities-zoom-adjustment {
    margin-top: 0%!important;
    margin-left: -60%!important;
}

.activities-zoom-adjustment-02 {
    height: 70%!important;
    width: 100%!important;
    margin-top: -37%!important;
    margin-left: 0%!important;
}

.activities-zoom-adjustment-03 {
    height: 70%!important;
    width: 100%!important;
    margin-top: -5%!important;
    margin-left: 0%!important;
}

.activities-img_image-01, .activities-img_image-04 {
    min-height: 390px!important;
}

.activities-img_image-02 {
    min-height: 180px!important;
}

.activities-img_image-03 {
    min-height: 110px!important;
}

.activities-img_image-05 {
    min-height: 140px!important;
}

.activities-img_image-06 {
    min-height: 155px!important;
}

.activities-img_hover {
    visibility: hidden;
    display: block;
    position: absolute;
    width: 310px!important;
    background: radial-gradient(rgba(47, 48, 50, 0.2), rgba(47, 48, 50, 0.5));
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
    transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    overflow: hidden;
}

.activities-img_hover-01, .activities-img_hover-04 {
    min-height: 390px!important;
}

.activities-img_hover-02 {
    min-height: 180px!important;
}

.activities-img_hover-03 {
    min-height: 110px!important;
}

.activities-img_hover-05 {
    min-height: 140px!important;
}

.activities-img_hover-06 {
    min-height: 155px!important;
}

.activities-card-content {
    margin-top: 365px!important;
    min-width: 310px!important;
    max-height: 55px!important;
}

.activities-content_title a:hover {
    color: var(--link-font-color)!important;
}

.activities-content_title-01, .activities-content_title-04 {
    margin-top: 45px!important;
}

.activities-content_title-02 {
    margin-top: -165px!important;
}

.activities-content_title-03 {
    margin-top: -235px!important;
}

.activities-content_title-05 {
    margin-top: -205px!important;
}

.activities-content_title-06 {
    margin-top: -190px!important;
}

.activities-img_name p {
    color: var(--font-color);
    font-family: var(--font-semi-bold);
    letter-spacing: 1px;
    font-size: 1.000em;
    background: rgba(255, 255, 255, 0.6);
    padding: 7px;
    margin-top: 20%;
    margin-left: -3%;
    text-align: center;
}

.activities-img_name p:hover {
    color: var(--link-font-color);
    background: rgba(255, 255, 255, 0.8);
}

/* ===================================================================================================== */
/* 07. Footer section                                                                                    */
/* ===================================================================================================== */

#footer {
    display: flex;
    flex-basis: 100%;
}

.footer-container {
    display: flex;
    flex-basis: 100%;
    min-height: 220px;
    height: auto;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    background-color: var(--grey-bg);
}

.footer-links-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-right: auto;
    margin-left: 50px;
}

.footer-links-container ul {
    list-style-type: none;
}

.footer-links-container ul li {
    margin-left: -30px;
    font-family: var(--font-medium);
    font-size: 1.000em;
    line-height: 30px!important;
}

.footer-links-container ul li a {
    text-decoration: none;
}

.footer-links-container ul li a:hover {
    color: var(--link-font-color);
}

.footer-links-container:nth-child(1) {
    margin-top: 30px;
}

h2.footer-title {
    position: absolute;
    margin-left: 10px;
    margin-top: -25px!important;
    font-family: var(--font-semi-bold);
    font-size: 1.125em;
    color: var(--font-color);
}

@media screen and (min-width: 1550px) and (max-width: 1650px) {
    .logo {
        flex-basis: 60%!important;
    }
}

/* ===================================================================================================== */
/* 08. Responsive - Laptops                                                                              */
/* ===================================================================================================== */

/* Laptops Screens between 800px and 1550px */

@media screen and (min-width: 800px) and (max-width: 1550px) {
    .logo {
        display: flex;
        flex-basis: 30%!important;
    }
    /*Navigation Menu */
    nav {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end!important;
    }
    nav ul.menu {
        display: flex;
        position: relative;
        flex-basis: 50%!important;
        list-style: none;
        flex-direction: row!important;
    }
    nav ul.menu li a {
        display: inline-block!important;
        padding: 0px 65px 0px 0px!important;
        font-family: var(--font-medium);
        font-size: 1.000em;
        color: var(--font-color)!important;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0.5px;
    }
    ul.menu li.nav-border {
        position: relative;
        width: auto;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    ul.menu li.nav-border:after {
        position: absolute;
        content: '';
        bottom: 75px!important;
        height: 3px;
        width: 100%;
        background: var(--blue-bg);
        opacity: 0;
        transition: all 0.25s ease-in-out;
    }
    ul.menu li.nav-border:hover:after {
        bottom: -3px;
        opacity: 1;
        width: 100%!important;
    }
    ul.menu li.nav-border {
        position: relative;
        width: auto;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    ul.menu li.nav-border:after {
        position: absolute;
        content: '';
        left: -20%;
        bottom: -11px;
        height: 3px;
        width: 100%;
        padding-right: 0px!important;
        padding-left: 0px!important;
        background: var(--blue-bg);
        opacity: 0;
        transition: all 0.25s ease-in-out;
    }
    ul.menu li.nav-border:nth-child(2):after, ul.menu li.nav-border:nth-child(3):after {
        left: -28%!important;
    }
    ul.menu li.nav-border:hover:after {
        bottom: -3px;
        opacity: 1;
        width: 100%!important;
    }
    ul.menu li:nth-last-child(1) a {
        font-family: var(--font-semi-bold);
        color: var(--link-font-color);
        padding-right: 0;
    }
    ul.menu li:nth-last-child(1) a:hover {
        font-family: var(--font-semi-bold);
        color: var(--font-color);
    }
    ul.menu li a:hover, ul.menu li a:active, ul.menu li a:visited {
        color: var(--link-font-color);
    }
    /* Hosting Cards*/
    .hosting-container {
        margin-top: 20px!important;
        padding-top: 50px!important;
        padding-bottom: 50px!important;
    }
    .hosting-card {
        margin: 0px 30px 40px 30px!important;
        min-width: 257px!important;
    }
    .hosting-card:nth-child(2) {
        margin-top: 15px!important;
    }
    .hosting-card:nth-child(3) {
        margin-top: 0px!important;
    }
    .hosting-card-sidebar {
        min-width: 345px!important;
    }
    .hosting-card-sidebar:nth-child(1) {
        margin-top: 30px!important;
    }
    .hosting-card-sidebar:nth-child(2) {
        margin-top: -15px!important;
        margin-bottom: 25px!important;
    }
    .popular-hosting-container {
        margin-top: 20px!important;
        padding-top: 50px!important;
    }
    .view-more-container {
        margin-top: 780px!important;
        margin-left: -40%!important;
    }
    .activities-container {
        margin-right: 50px!important;
    }

    @media screen and (min-width: 800px) and (max-width: 1050px) {
        /* Search*/
        button.btn-search {
            margin-left: 29%!important;
        }
    }
    @media screen and (min-width: 1100px) and (max-width: 1400px) {
        /* Search*/
        button.btn-search {
            margin-left: 10%!important;
        }
    }
    @media screen and (min-width: 800px) and (max-width: 1380px) {
        .hosting-card:nth-child(2) {
            margin-top: 30px!important;
        }
        .hosting-card-sidebar:nth-child(2) {
            margin-top: -15px!important;
        }
        .view-more-container {
            margin-top: 1490px!important;
            margin-left: -270px!important;
        }
        .activities-wrap-container:last-child {
            flex-basis: 100%!important;
            margin-left: 25px!important;
            justify-content: space-around!important;
        }
    }
    @media screen and (min-width: 800px) and (max-width: 1024px) {
        /* Activities Cards*/
        .activities-container {
            justify-content: space-around!important;
        }
        .activities-card-04 {
            margin-left: 50px!important;
            margin-top: 25px!important;
        }
        .activities-wrap-container {
            flex-basis: 50%!important;
            flex-direction: column!important;
            justify-content: space-between!important;
        }
        .activities-wrap-container:last-child {
            flex-basis: 50%!important;
            margin-left: 25px!important;
            justify-content: space-around!important;
        }
    }
    @media screen and (min-width: 1280px) and (max-width: 1440px) {
        .hosting-card:nth-child(2) {
            margin-top: 30px!important;
        }
        .hosting-card-sidebar:nth-child(2) {
            margin-top: -15px!important;
        }
        .view-more-container {
            margin-top: 770px!important;
            margin-left: -580px!important;
        }
    }
}

@media screen and (min-width: 1500px) and (max-width: 1650px) {
    .hosting-card {
        min-width: 257px!important;
    }
    .hosting-card-sidebar {
        min-width: 345px!important;
    }
    .view-more-container {
        margin-top: 520px!important;
        margin-left: -52%!important;
    }
}

@media screen and (min-width: 1496px) and (max-width: 1550px) {
    .hosting-card:nth-child(2) {
        margin-top: 30px!important;
    }
    .hosting-card:nth-child(3) {
        margin-top: 30px!important;
    }
    .hosting-card-sidebar:nth-child(2) {
        margin-top: -15px !important;
    }
    .hosting-card-sidebar:nth-child(3) {
        margin-top: 0px !important;
    }
    .activities-container {
        margin-right: 50px!important;
    }
}

/* ===================================================================================================== */
/* 09. Responsive - Tablets                                                                              */
/* ===================================================================================================== */

@media screen and (min-width: 415px) and (max-width: 768px) {
    .logo {
        margin-top: -20px;
        margin-left: 0px!important;
    }
    nav {
        justify-content: space-around!important;
    }
    nav ul.menu {
        display: flex;
        position: relative;
        flex-basis: 30%;
        list-style: none;
        flex-direction: row;
        margin-top: -20px;
    }
    nav ul.menu li a {
        display: inline-block!important;
        padding: 0px 65px 0px 0px!important;
        font-family: var(--font-medium);
        font-size: 1.000em;
        color: var(--font-color)!important;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0.5px;
        margin-bottom: 25px;
    }
    ul.menu li:nth-last-child(1) a {
        z-index: 1;
        font-family: var(--font-semi-bold);
        color: var(--link-font-color);
    }
    ul.menu li:nth-last-child(1) a:hover {
        font-family: var(--font-semi-bold);
        color: var(--font-color);
    }
    ul.menu li a:hover, ul.menu li a:active, ul.menu li a:visited {
        color: var(--link-font-color);
    }
    ul.menu li.nav-border {
        position: relative;
        width: auto;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    ul.menu li.nav-border:after {
        display: none!important;
    }
    ul.menu li.nav-border:hover:after {
        bottom: -3px;
        opacity: 1;
        width: 100%!important;
    }
    ul.menu li.nav-border:nth-child(3):after {
        display: none!important;
    }
    .search-container {
        margin-top: 37px!important;
        align-self: center!important;
        width: 45%!important;
    }
    .search-location.home-search input {
        flex-basis: 100%!important;
        border-right: 1px solid var(--grey-bg)!important;
        border-top-right-radius: 15px!important;
        border-bottom-right-radius: 15px!important;
    }
    .search-location.home-search button {
        left: 85%!important;
        border-top-left-radius: 15px!important;
        border-bottom-left-radius: 15px!important;
    }
    .search-location.home-search button:hover {
        background: var(--grey-bg)!important;
    }
    .search-location.home-search button.btn-search {
        width: 49px!important;
        margin-left: 162px!important;
    }
    i.fa.fa-search {
        height: 50px!important;
        margin-top: -32px!important;
        padding-left: 3px!important;
        color: var(--white-font-color)!important;
    }
    i.fa.fa-search:hover {
        color: var(--link-font-color)!important;
    }
    .search-text-large {
        visibility: hidden!important;
    }
    .small-screen-search-icon {
        visibility: visible!important;
        margin-top: -15px!important;
    }
    .filters-container {
        justify-content: space-around!important;
    }
    .filter-box {
        width: auto;
        height: 50px;
        margin-bottom: 5px!important;
        margin: 5px!important;
        padding: 0px!important;
        margin-right: 25px!important;
    }
    p.filter-title {
        justify-content: space-around!important;
    }
    .search-info {
        margin-left: 25px!important;
    }
    .icon-circle-container {
        margin-left: 25%!important;
    }
    #hosting-sidebar {
        flex-basis: 100%!important;
        flex-wrap: wrap!important;
        align-content: space-around;
    }
    .popular-hosting-container {
        display: flex;
        flex-basis: 100%!important;
        height: auto;
        width: 100%!important;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: var(--grey-bg);
        border-radius: 0px!important;
        align-content: center!important;
    }
    .hosting-card {
        display: flex;
        flex-basis: 100%!important;
        height: 200px;
        min-width: 345px!important;
        margin: 0px 10px 15px 30px!important;
        background-color: var(--white-bg);
        box-shadow: 5px 5px 5px 5px var(--grey-shadow);
        border-radius: 15px;
        cursor: pointer;
    }
    .hosting-card-sidebar:nth-child(1) {
        margin-left: 0px!important;
    }
    .hosting-card-sidebar:nth-child(2) {
        margin-top: 40px!important;
        margin-left: 25px!important;
    }
    .hosting-card-sidebar:nth-child(3) {
        margin-top: 25px!important;
        margin-bottom: 70px!important;
        margin-left: 5px!important;
    }
    .hosting-img_hover, .sidebar-img_hover {
        opacity: 0!important;
        overflow: hidden!important;
    }
    .hosting-img_hover {
        max-width: 125px!important;
        max-height: 145px!important;
    }
    #hosting h2.card-title-hosting {
        margin: 20px!important;
        margin-top: 40px!important;
        margin-left: 50px!important;
    }
    #hosting h2.card-title-hosting-location {
        margin-left: 50px!important;
        margin-top: 680px!important;
    }
    .icon-sidebar-container {
        margin-left: 90%!important;
        margin-top: 43px!important;
        padding: 0!important;
    }
    .hosting-container {
        order: 2!important;
        flex-basis: 100%!important;
        margin-top: -50px!important;
        margin-left: 0!important;
        border-radius: 0px!important;
        background: none!important;
        justify-content: center!important;
    }
    .hosting-card:first-child {
        margin-top: 90px!important;
    }
    #hosting {
        flex-flow: wrap!important;
    }
    .hosting-card {
        min-width: 345px!important;
        margin: 0px 10px -15px 30px!important;
    }
    .hosting-card-img, .hosting-img_image, .hosting-img_hover {
        min-width: 345px!important;
    }
    .hosting-img_image {
        min-width: 335px!important;
    }
    .hosting-img_name {
        margin-top: -10%!important;
    }
    .hosting-card:nth-child(4), .hosting-card:nth-child(5), .hosting-card:nth-child(6) {
        margin-top: 30px!important;
    }
    .view-more-container {
        margin-top: 1465px!important;
        margin-left: -210px!important;
    }
    #activities {
        margin-top: 80px!important;
    }
    .activities-container {
        margin-left: 70px!important;
        margin-right: 25px!important;
    }
    .activities-wrap-container {
        flex-basis: 50%!important;
        align-content: center!important;
        flex-direction: row;
        flex-wrap: wrap;
    }
    h2.card-title--activities {
        margin: -20px 50px 40px 50px!important;
    }
    .activities-card-01, .activities-card-04 {
        margin-left: -20px!important;
    }
    .footer-links-container {
        margin-left: 20px!important;
    }
    .footer-links-container:nth-child(2), .footer-links-container:nth-child(3) {
        margin-left: 0px!important;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    nav {
        box-sizing: border-box!important;
        width: 100%!important;
        min-width: 425px!important;
        max-width: 768px!important;
    }
    ul.menu {
        margin-left: -10%!important;
        box-sizing: border-box!important;
    }
    nav ul.menu li a {
        padding: 0px 50px 16px 0px!important;
        margin-left: 19%!important;
        font-family: var(--font-medium)!important;
        color: var(--font-color)!important;
    }
    .search-container {
        max-width: 330px!important;
        margin-left: -10%!important;
    }
    .info-container {
        margin-left: -10%!important;
    }
    .filters-container {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    button.btn-search {
        margin-left: 70%!important;
    }
    .icon-sidebar-container {
        margin-left: 80%!important;
    }
    .popular-hosting-container, #hosting-sidebar {
        min-width: 425px!important;
        max-width: 768px!important;
        box-sizing: border-box!important;
        background: none!important;
        margin-left: 0%!important;
    }
    .hosting-container {
        min-width: 425px!important;
        max-width: 768px!important;
        box-sizing: border-box!important;
        margin-left: 3%!important;
    }
    #activities {
        box-sizing: border-box!important;
        margin-left: 0%!important;
    }
    .activities-container {
        box-sizing: border-box!important;
        margin-top: 0%!important;
        margin-left: 10%!important;
    }
    h2.footer-title {
        margin-top: -10px!important;
    }
    .footer-container {
        flex-basis: 100%!important;
        flex-wrap: wrap!important;
        height: auto!important;
    }
    .footer-links-container {
        flex-basis: 100%!important;
        flex-direction: column!important;
        flex-wrap: wrap!important;
        margin-left: 20px!important;
        margin-top: 50px!important;
    }
    .footer-links-container:nth-child(2) {
        margin-bottom: 50px!important;
        margin-left: 20px!important;
    }
    .footer-links-container:nth-child(3) {
        margin-top: -25px!important;
        margin-left: 20px!important;
        margin-bottom: 50px!important;
    }
}

@media screen and (min-width: 800px) and (max-width: 980px) {
    .filters-container {
        justify-content: space-between!important;
    }
    .filter-box:last-child {
        margin-top: 10px!important;
        margin-left: 130px!important;
    }
}

/* ===================================================================================================== */
/* 09. Responsive - Smartphones                                                                          */
/* ===================================================================================================== */

/* Screens 415px/375px or less: iphone 6/7/8 iOS 11 Safari 11, iphone X/XS iOS 12 Safari 12, Galaxy S9/S9+ android 7.0 and others */

@media screen and (max-width: 415px) {
    .activities-zoom-adjustment, .activities-zoom-adjustment-02 {
        margin-top: -50%!important;
    }
    .activities-card-01, .activities-card-04 {
        margin-left: 20px!important;
        min-height: 190px!important;
    }
    .activities-card-01, .activities-card-02, .activities-card-03, .activities-card-04, .activities-card-05, .activities-card-06 {
        max-height: 190px!important;
        min-width: 335px!important;
    }
    .activities-card-03, .activities-card-06 {
        margin-top: 0px!important;
    }
    .activities-card-img, .activities-img_image, .activities-card-img-01, .activities-card-img-02, .activities-card-img-03, .activities-card-img-04, .activities-card-img-05, .activities-card-img-06, .activities-img_image-01, .activities-img_image-02, .activities-img_image-03, .activities-img_image-04, .activities-img_image-05, .activities-img_image-06, .activities-img_hover-01, .activities-img_hover-02, .activities-img_hover-03, .activities-img_hover-04, .activities-img_hover-05, .activities-img_hover-06, .activities-img_hover {
        min-height: 135px!important;
        min-width: 335px!important;
    }
    .activities-content_title-01, .activities-content_title-02, .activities-content_title-03, .activities-content_title-04, .activities-content_title-05, .activities-content_title-06 {
        margin-top: -210px!important;
    }
    .page-container {
        width: 100%!important;
        overflow: hidden!important;
    }
    h1 {
        margin: 15px 0 10px 0!important;
        max-width: 90%!important;
    }
    .widgets-container {
        margin: 0px 20px!important;
    }
    .logo {
        flex-basis: 80%!important;
        margin-top: -7%!important;
        margin-left: -30px!important;
    }
    nav {
        position: relative!important;
        display: block!important;
        box-sizing: content-box!important;
        width: 100%!important;
        min-width: 375px!important;
        max-width: 414px!important;
    }
    ul.menu {
        position: relative!important;
        display: inline-block!important;
        width: auto!important;
        list-style: none!important;
        border-bottom: 3px solid var(--grey-border)!important;
        box-sizing: border-box!important;
        right: 0!important;
    }
    ul.menu li {
        margin-top: -35px!important;
    }
    nav ul.menu li a {
        position: relative;
        display: inline!important;
        margin-top: -15px!important;
        padding: 0px 100px 16px 0px!important;
        text-align: center!important;
        font-family: var(--font-medium);
        font-size: 1.000em;
        color: var(--font-color)!important;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0.5px;
    }
    ul.menu li.nav-border {
        position: relative!important;
        width: auto!important;
    }
    ul.menu li.nav-border:after {
        position: absolute;
        content: '';
        left: -30%!important;
        bottom: -11px!important;
        height: 3px!important;
        width: 100%!important;
        padding-right: 15px!important;
        background: var(--blue-bg);
        opacity: 0;
        transition: all 0.25s ease-in-out;
        box-sizing: content-box!important;
    }
    ul.menu li.nav-border:hover:after {
        bottom: -3px!important;
        opacity: 1;
        width: 100%!important;
    }
    ul.menu li.nav-border:nth-child(1), ul.menu li.nav-border:nth-child(2) {
        z-index: 2!important;
    }
    ul.menu li.nav-border:nth-child(3):after {
        z-index: 2!important;
        display: none!important;
    }
    ul.menu li:nth-child(3) {
        display: flex!important;
        flex-basis: 20%!important;
        margin-top: -75px!important;
        margin-left: -140px!important;
        margin-right: 25px!important;
        padding-right: 25px!important;
        flex-direction: column!important;
    }
    @media screen and (max-width: 375px) {
        ul.menu li:nth-child(3) {
            margin-left: -165px!important;
            margin-right: 30px!important;
        }
    }
    .search-container {
        margin-top: 37px!important;
    }
    .search-location.home-search input {
        flex-basis: 100%!important;
        max-width: 100%!important;
        border-right: 1px solid var(--grey-bg)!important;
        border-top-right-radius: 15px!important;
        border-bottom-right-radius: 15px!important;
    }
    .search-location.home-search button {
        left: 170%!important;
        border-top-left-radius: 15px!important;
        border-bottom-left-radius: 15px!important;
    }
    .search-location.home-search button:hover {
        background: var(--grey-bg)!important;
    }
    .search-location.home-search button.btn-search {
        width: 49px!important;
    }
    i.fa.fa-search {
        height: 50px!important;
        margin-top: -30px!important;
        padding-left: 5px!important;
        color: var(--white-font-color)!important;
    }
    i.fa.fa-search:hover {
        color: var(--link-font-color)!important;
    }
    .search-text-large {
        visibility: hidden!important;
    }
    .small-screen-search-icon {
        visibility: visible!important;
        margin-top: -15px!important;
    }
    p.filter-title {
        flex-basis: 100%!important;
        margin-left: 10px!important;
        margin-bottom: 10px!important;
    }
    .filters-container {
        margin-left: 15px!important;
        margin-right: auto!important;
    }
    .filter-box {
        width: auto;
        height: 50px;
        margin-bottom: 5px!important;
        margin: 5px!important;
        padding: 0px!important;
    }
    h2.filter-tag {
        font-size: 0.938em!important;
        margin-left: 60px!important;
        margin-right: 15px!important;
    }
    .info-container {
        margin-top: 20px!important;
        margin-bottom: 30px!important;
        margin-left: -25px!important;
        margin-right: 20px!important;
    }
    h2.card-title {
        margin: 20px!important;
        margin-top: 620px!important;
    }
    h2.card-title-hosting {
        margin: 20px!important;
        margin-top: 40px!important;
    }
    .icon-sidebar-container {
        margin-left: 90%!important;
        margin-top: 43px!important;
        padding: 0!important;
    }
    .hosting-container {
        order: 2!important;
        width: 100%!important;
        flex-basis: 100%!important;
        margin-top: -50px!important;
        margin-left: -10px!important;
        margin-right: 0!important;
        border-radius: 0px!important;
        background: none!important;
    }
    #hosting {
        flex-flow: wrap!important;
    }
    .popular-hosting-container {
        order: 1!important;
        flex-direction: column!important;
        flex-wrap: wrap!important;
        border-radius: 0px!important;
        margin: 10px 0px 40px 0px!important;
        width: 100%!important;
    }
    .hosting-card {
        width: 100%!important;
        min-width: 345px!important;
        margin: 0px 10px -15px 30px!important;
    }
    .hosting-card:first-child {
        margin-top: 90px!important;
    }
    .hosting-card-img, .hosting-img_image, .hosting-img_hover {
        min-width: 345px!important;
    }
    .hosting-img_image {
        min-width: 335px!important;
    }
    .sidebar-card-img, .sidebar-img_image, .sidebar-img_hover {
        min-width: 125px!important;
    }
    .sidebar-img_name, .hosting-img_name {
        margin-top: -10%!important;
    }
    #hosting-sidebar {
        flex-basis: 100%!important;
        flex-wrap: wrap!important;
        overflow: hidden!important;
    }
    .hosting-card-sidebar {
        flex-basis: 100%!important;
        margin-left: -20px!important;
        padding: 0px!important;
    }
    .hosting-card-sidebar:nth-child(1) {
        margin-bottom: 10px!important;
        margin-top: 80px!important;
    }
    .hosting-card-sidebar:nth-child(3) {
        margin-top: 10px!important;
        margin-bottom: 40px!important;
        margin-left: 5px!important;
    }
    .hosting-card-sidebar:nth-child(1), .hosting-card-sidebar:nth-child(2), .hosting-card-sidebar:nth-child(3) {
        flex-basis: 100%!important;
        margin-left: 5px!important;
    }
    .hosting-card-sidebar:nth-child(2) {
        margin-left: 25px!important;
    }
    .hosting-card:nth-child(4), .hosting-card:nth-child(5), .hosting-card:nth-child(6) {
        margin-top: 30px!important;
    }
    .view-more-container {
        margin-top: 1465px!important;
        margin-left: -210px!important;
    }
    .activities-container {
        margin-top: 140px!important;
    }
    h2.card-title--activities {
        margin: 20px!important;
        margin-top: 85px!important;
    }
    .activities-wrap-container {
        width: 100%!important;
    }
    .footer-container {
        flex-basis: 100%!important;
        flex-wrap: wrap!important;
        height: auto!important;
    }
    .footer-links-container {
        flex-basis: 100%!important;
        flex-direction: column!important;
        flex-wrap: wrap!important;
        margin-left: 20px!important;
        margin-top: 50px!important;
    }
    .footer-links-container:nth-child(3) {
        margin-bottom: 50px!important;
    }
}